apiVersion: apps/v1
kind: Deployment
metadata:
  name: rpa-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rpa-redis
  template:
    metadata:
      labels:
        app: rpa-redis
    spec:
      containers:
        - name: redis
          image: redis:7.2
          ports:
            - containerPort: 6379
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: rpa-redis
spec:
  selector:
    app: rpa-redis
  ports:
    - port: 6379
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rpa-mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rpa-mongo
  template:
    metadata:
      labels:
        app: rpa-mongo
    spec:
      containers:
        - name: mongo
          image: mongo:6.0
          ports:
            - containerPort: 27017
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          volumeMounts:
            - name: mongo-data
              mountPath: /data/db
      volumes:
        - name: mongo-data
          emptyDir: {} # In prod, use PersistentVolumeClaim
---
apiVersion: v1
kind: Service
metadata:
  name: rpa-mongo
spec:
  selector:
    app: rpa-mongo
  ports:
    - port: 27017
